.card_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  padding: 20px;
}

.containerSelect {
  background-color: #76757740;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.select {
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  background-color: #aba1aa;
}