.allBack {
   background-image: url(./images/5532919.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.formBack {
   background-image: url(./images/fondo\ de\ rick\ and\ morty-formulario.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}